.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .messages {
    flex: 1;
    overflow-y: auto;
  }
  
  .message {
    padding: 10px;
    border-bottom: 1px solid  white;
  
  }
  
  form {
    display: flex;
  }
  input {
    flex: 1;
    padding: 10px;
    background-color: #3a3a3a; /* Couleur de fond sombre */
    border: 1px solid #555;
    border-radius: 5px;
    color: black; /* Couleur du texte noir */
  }
  input {
    flex: 1;
    padding: 10px;
  }
  
  button {
    padding: 10px;
  }
  